---
---

@import "responsive.css";

$ponytones-blue: rgb(157, 218, 247);
$ponytones-purple: rgb(166, 107, 191);
$ponytones-darkpurple: rgb(28, 151, 211);
$hacker-green: rgb(0, 255, 0);

a{
  transition: color .2s;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -o-transition: color .2s;
  text-decoration: none;
  color: $ponytones-purple;

  &:hover{
    color: $ponytones-darkpurple;
  }
}

.pull-right{
  float: right;
}

.social.fa{
  margin-left: 5px;
  font-size: 1.5em;
  color: black;
  transition: color .2s;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -o-transition: color .2s;

  &.fa-twitter:hover{
    color: #4099FF;
  }

  &.fa-facebook:hover{
    color: #3B5998;
  }

  &.fa-github:hover{
    color: gray;
  }
}

header{
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px dotted lightgray;

  &.transparent{
    background: rgba(0,0,0,0.5);
    border-bottom: 1px solid black;

    .nav{
      color: white;

      .logo{
        color: white !important;
      }

      a:not(.logo){
        color: white;
      }
    }
  }

  .nav{
    max-width: 1000px;
    margin: 0 auto;
    z-index: 10;
    padding: 0 10px;

    a:not(.logo){
      text-transform: uppercase;
      margin-left: 10px;
      color: black;
    }

    .nav-links{
      display: inline-block;
      top: 40px;

      a:nth-of-type(even):hover{
        color: $ponytones-purple;
      }

      a:nth-of-type(odd):hover{
        color: $ponytones-blue;
      }
    }
  }
}

.white{
  color: white;
}

footer{
  font-family: "Open Sans";
  z-index: 10;
  position: relative;
  background: white;
  padding: 10px 0;

  .inside-footer{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

body{
  margin: 0;
}

.content{
  width: 100%;
  margin-top: 48px;
  border-bottom: 1px dotted lightgray;
}

div.hero{
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  z-index: 5;
  color: white;

  h1{
    padding-top: 240px;
    padding-bottom: 200px;
    font-size: 3em;
    text-align: center;
    z-index: 10;
    position: relative;
  }

  video{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    -moz-filter: blur(5px);
  }
}

section{
  display: block;
  width: 100%;
  padding: 10px;
  z-index: 10;
  position: relative;

  div.group{
    max-width: 900px;
    margin: 0 auto;

    h1, h2{
      line-height: 1em;
    }
  }
}

.center{
  text-align: center;
}

.circle{
  border-radius: 50%;
}

.bordered{
  border: 5px solid white;
}

.fill{
  width: 100%;
  height: 100%;

  &.fill-quarter{
    width: 25%;
    height: 25%;
  }

  &.fill-half{
    width: 50%;
    height: 50%;
  }

  &.fill-three-quarter{
    width: 75%;
    height: 75%;
  }

  &.center{
    display: block;
    margin: 0 auto;
  }
}

.no-margin{
  margin: 0;
}

.hack{
  color: $hacker-green;
  font-family: "VT323";
}

.fit{
  max-width: 100%;
}
