*, * * {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #131313;
  font-family: "Fira Code", "Fira Mono", monospace;
  color: #e2e2e2;
  font-size: 1.4em;
}

hr {
  border: 1px dashed #e2e2e2
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.content.projects {
  padding: 0;
}

.go-back {
  display: inline-block;
  margin-left: 50px;
  margin-top: 25px;
}

section {
  max-width: 1000px;
  margin: 0 auto;
  line-height: 30px;
}

.big, h2 {
  font-size: 1.5em;
}

a {
  color: white;
}

.strong, #song-name, #song-artist {
  font-weight: bold;
}

.color-green {
  color: #00b500;
}

.color-blue {
  color: #0bc7dc;
}

.color-yellow {
  color: #cccc00;
}

.color-orange {
  color: #b57600;
}

.color-purple {
  color: #e600e6;
}

ul {
  margin: 0;
  list-style-type: none;
  line-height: 35px;
}

ul > li {
  text-indent: -5px;
}

ul > li:before {
  content: "-";
  text-indent: -5px;
  padding-right: 10px;
}

table tbody tr td:first-of-type {
  padding-right: 15px;
}

@media only screen and (max-width: 600px) {
  section {
    margin: 0 15px;
  }

  td {
    display: block;
    margin-top: 5px;
  }
}

/* PROJECTS */

.content.projects .header {
  padding: 50px;
  padding-top: 25px;
  text-transform: uppercase;
  font-size: 2em;
}

.project-cell {
  padding: 50px 25px;
  text-align: center;
  position: relative;
  z-index: 2;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.project-cell * {
  z-index: 2;
  position: relative;
}

.project-cell:not(.no-bg)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  filter: blur(20);
}

.project-cell h1 {
  margin: 0;
  font-size: 1.2em;
}

.project-cell p {
  font-size: 0.8em;
}

.project-button {
  top: 100%;
}

.now-playing {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
  flex-direction: row;
  padding: 10px;
  border-radius: 15px;
  background: #383838;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  max-width: 400px;
}

.now-playing.active {
  display: flex;
}

.now-playing .album-art {
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.now-playing .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.now-playing .info div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.now-playing .info .spotify-icon::before {
  content: "";
  background-image: url("/assets/spotify.svg");
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.now-playing .info .spotify-icon {
  margin-bottom: 3px;
  font-size: 0.8em;
  color: #B7B7B7;
}

.now-playing .info .track-title {
  font-weight: bold;
  margin-bottom: 3px;
}

.now-playing .info .track-artist {
  font-size: 0.9em;
}