<!DOCTYPE html>
<html ng-app="portfolioApp" ng-controller="pfController" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Experience - TJ Horner</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="font-mfizz/font-mfizz.css">
    <script src="js/angular.min.js"></script>
    <script src="js/portfolio.js"></script>
  </head>
  <body class="{{ showModal ? 'modal-shown' : '' }}">
    <div class="container">
      <h1>Experience</h1>

      <a href="/" class="cool-button back-home">
        Back to the home page
      </a>

      <h2>Technologies</h2>

      <p>
        A list of technologies I am experienced in. The more dots there are, the more experience I have.
        These are listed in no particular order.
      </p>

      <div class="tech">
        <div class="tech-card" ng-repeat="tech in technologies">
          <div class="tech-header">
            <span class="tech-logo" style="color: {{ tech.color }}"><i class="{{ tech.iconClass }}"></i></span>
            <div class="tech-rating">
              <div class="tech-dot filled" ng-repeat="i in range(tech.rating) track by $index"></div>
              <div class="tech-dot" ng-repeat="i in range(5 - tech.rating) track by $index"></div>
            </div>
          </div>
          <div class="tech-subheader">{{ tech.name }}</div>
          <div class="tech-desc">
            {{ tech.description }}
          </div>
        </div>
      </div>

      <h2>Projects</h2>

      <p>
        The skills I listed above are best demonstrated through example. Here are a few projects
        that show my best work in many of those technologies. You can find even more projects
        on my <a href="https://github.com/tjhorner" target="_blank" rel="nofollow">GitHub profile</a>.
      </p>

      <div class="projects">
        <div class="project-card" ng-repeat="(index, project) in projects" style="background-image: url({{ project.imageUrl }})">
          <span class="title">{{ project.name }}</span>
          <span class="desc">
            {{ project.tagline }}
          </span>
          <div class="links">
            <!-- <a ng-repeat="link in project.links" href="{{ link.url }}" target="_blank" rel="nofollow">{{ link.name }}</a> -->
            <a ng-click="showProject(index)">More Info</a>
          </div>
        </div>
      </div>

      <div class="modal-overlay" ng-show="showModal">
        <div class="modal">
          <a ng-click="showModal = false" class="modal-close">Close</a>

          <div class="modal-hero" style="background-image: url({{ projects[displayProject].imageUrl }})">
            <h1>{{ projects[displayProject].name }}</h2>
            <span class="tagline">{{ projects[displayProject].tagline }}</span>
          </div>
          
          <div class="modal-container">
            <div class="modal-left">
              <p ng-repeat="paragraph in projects[displayProject].description">
                {{ paragraph }}
              </p>
            </div>
            <div class="modal-right">
              <h3>Links</h3>
  
              <div class="modal-links">
                <div class="modal-link" ng-repeat="link in projects[displayProject].links">
                  <a href="{{ link.url }}" target="_blank" rel="nofollow">{{ link.name }}</a>
                </div>
              </div>

              <h3>Technologies</h3>

              <div class="modal-techs">
                <div class="modal-tech" ng-repeat="tech in projects[displayProject].technologies">
                  <span class="modal-tech-icon" style="color: {{ tech.color }}"><i class="{{ tech.iconClass }}"></i></span>{{ tech.name }}
                </div>
              </div>
            </div>
          </div>

          <div class="modal-nav">
            <div class="modal-nav-back" ng-show="displayProject !== 0">
              <a ng-click="displayProject = displayProject - 1" class="cool-button back">{{ projects[displayProject - 1].name }}</a>
            </div>
            <div class="modal-nav-next" ng-show="displayProject + 1 <= projects.length - 1">
              <a ng-click="displayProject = displayProject + 1" class="cool-button forward">{{ projects[displayProject + 1].name }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>